[Unit]
Description=Auto-Connect to %i
# this unit is just so that I can SSH into the rpi bc...lazy
Requires=ssh.service
BindsTo=ssh.service
StartLimitIntervalSec=1

[Service]
Type=oneshot
User=root
RemainAfterExit=True
ExecStart=/bin/bash /usr/local/bin/wifi %i
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
