[Unit]
Description=Set Hostname based on %i ip
Before=systemd-hostname.service
After=auto-wpa@%i.service
Requires=networkd-dispatcher.service
BindsTo=networkd-dispatcher.service
StartLimitIntervalSec=1

[Service]
Type=oneshot
User=root
RemainAfterExit=True
ExecStart=/bin/bash /usr/local/bin/set-hostname %i
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
